<%- model_class = Renter -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @renter.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:spouse_name) %>:</strong></dt>
  <dd><%= @renter.spouse_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cell_phone) %>:</strong></dt>
  <dd><%= @renter.cell_phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:spouse_cell_phone) %>:</strong></dt>
  <dd><%= @renter.spouse_cell_phone %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              renters_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_renter_path(@renter), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              renter_path(@renter),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
