<%- model_class = CorporateOwner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @corporate_owner.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_name) %>:</strong></dt>
  <dd><%= @corporate_owner.contact_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_cell_phone) %>:</strong></dt>
  <dd><%= @corporate_owner.contact_cell_phone %></dd>
  <dt><strong><%= Apartment.human_attribute_name(:occupied) %>:</strong></dt>
  <dd><%= @corporate_owner.apartments.occupied.join(", ") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:apartments) %>:</strong></dt>
  <dd><%= @corporate_owner.apartments.numbers.join(", ") %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              corporate_owners_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_corporate_owner_path(@corporate_owner), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              corporate_owner_path(@corporate_owner),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
