<%- model_class = Owner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @owner.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:spouse_name) %>:</strong></dt>
  <dd><%= @owner.spouse_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cell_phone) %>:</strong></dt>
  <dd><%= @owner.cell_phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:spouse_cell_phone) %>:</strong></dt>
  <dd><%= @owner.spouse_cell_phone %></dd>
  <dt><strong><%= Apartment.human_attribute_name(:occupied) %>:</strong></dt>
  <dd><%= @owner.apartments.occupied.join(", ") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:apartments) %>:</strong></dt>
  <dd><%= @owner.apartments.numbers.join(", ") %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              owners_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_owner_path(@owner), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              owner_path(@owner),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
