<%= bootstrap_form_for(@apartment, layout: :horizontal, label_errors: true) do |f| %>

  <div class="form-group">
    <div class="col-lg-10">
      <%= f.text_field :number, :readonly => true, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.text_field :floor, :readonly => true, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.collection_select :renter_id, Renter.all, :id, :name, :include_blank => t('helpers.select_option') %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.collection_select(:ownable_gid, @ownables, :to_global_id, :name) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <div class="form-group row">
        <label class="col-form-label col-sm-2"><%= t('helpers.labels.ocuppied') %></label>
        <div class="col-sm-10">
          <%= f.radio_button :ocuppied, true, label: t('helpers.labels.positive') %>
          <%= f.radio_button :ocuppied, false, label: t('helpers.labels.negative') %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                apartments_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
