<%- model_class = Apartment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:floor) %></th>
      <th><%= model_class.human_attribute_name(:renter_id) %></th>
      <th><%= model_class.human_attribute_name(:ownable_gid) %></th>
      <th><%= model_class.human_attribute_name(:ocuppied) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= link_to apartment.number, apartment_path(apartment) %></td>
        <td><%= apartment.floor %></td>
        <td><%= apartment.renter.name if apartment.renter.present? %></td>
        <td><%= apartment.ownable.name %></td>
        <td><%= t apartment.ocuppied?.to_s %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_apartment_path(apartment), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>