<%- model_class = Apartment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:number) %>:</strong></dt>
  <dd><%= @apartment.number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:floor) %>:</strong></dt>
  <dd><%= @apartment.floor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:renter_id) %>:</strong></dt>
  <dd><%= @apartment.renter.name if @apartment.renter.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ownable_gid) %>:</strong></dt>
  <dd><%= @apartment.ownable.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ocuppied) %>:</strong></dt>
  <dd><%= t @apartment.ocuppied?.to_s %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              apartments_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_apartment_path(@apartment), :class => 'btn btn-default' %>
