<%= bootstrap_form_for(@monthly_condominium_expense, layout: :horizontal, label_errors: true) do |f| %>

  <div class="form-group">
    <div class="col-lg-10">
      <%= f.date_select :due_date, default: { day: 10 }, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                monthly_condominium_expenses_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
