<%- model_class = MonthlyCondominiumExpense -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => 2).titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:due_date) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:total_paid) %></th>
      <th><%= model_class.human_attribute_name(:total_remaining) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @monthly_condominium_expenses.each do |monthly_condominium_expense| %>
      <tr>
        <td><%= link_to l(monthly_condominium_expense.due_date, format: :default), monthly_condominium_expense_path(monthly_condominium_expense) %></td>
        <td><%= number_to_currency(monthly_condominium_expense.total) %></td>
        <td><%= number_to_currency(monthly_condominium_expense.total_paid) %></td>
        <td><%= number_to_currency(monthly_condominium_expense.total_remaining) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_monthly_condominium_expense_path(monthly_condominium_expense), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      monthly_condominium_expense_path(monthly_condominium_expense),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_monthly_condominium_expense_path,
            :class => 'btn btn-primary' %>
