<%- model_class = MonthlyCondominiumExpense -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:due_date) %>:</strong></dt>
  <dd><%= l(@monthly_condominium_expense.due_date, format: :default) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total) %>:</strong></dt>
  <dd><%= number_to_currency(@monthly_condominium_expense.total) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_paid) %>:</strong></dt>
  <dd><%= number_to_currency(@monthly_condominium_expense.total_paid) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_remaining) %>:</strong></dt>
  <dd><%= number_to_currency(@monthly_condominium_expense.total_remaining) %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              monthly_condominium_expenses_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_monthly_condominium_expense_path(@monthly_condominium_expense), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              monthly_condominium_expense_path(@monthly_condominium_expense),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
